@import 'vars.scss';

div {
    background: $divBg;
}

span {
    border: 1px solid rgba(20, 20, 20, $spanOpacity);
    color: $radioTest !important;
    opacity: $spanOpacity2 !important;
}

.avatar-large {
    background-image: url($avatar) !important;
    border-radius: $avatarRadius !important;
}
