$divBg: green !default;
$spanOpacity: 0.5 !default;
$avatar: "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Cow_female_black_white.jpg/220px-Cow_female_black_white.jpg" !default; 
$avatarRadius: 8px !default;
$radioTest: red !default;
$spanOpacity2: 1 !default;